.best-main {
  margin-top: 6rem;
}
.best-heading {
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}
.best-heading p {
  /* background: linear-gradient(310deg, #6f66e8 0%, #42cfe7 100%); */
  background: linear-gradient(310deg, #ed71a3 0%, #42cfe7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.best-container {
  margin: 40px 120px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* position: relative; */
}
.best_seller-product {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 360px;
  overflow: hidden;
  cursor: pointer;
}
.best_seller-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 300px;
  object-fit: cover;
  filter: brightness(0.96);
  transition: all 0.4s;
}
.best_seller-product:hover img {
  transform: scale(0.9);
  filter: brightness(1);
}
.best_seller-text {
  position: absolute;
  top: 10rem;
  font-family: "Sora", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 41.6px;
  text-transform: uppercase;

  /* background: linear-gradient(276deg, #ed71a3 0%, #42cfe7 100%); */
  background: linear-gradient(310deg, #6f66e8 0%, #42cfe7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
