.products-container {
  /* border: 1px solid red; */
  height: 100vh;
  padding-top: 5.3rem;
  margin: 0 0 0 1rem;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}
.products-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: scroll;
}
.loader-container {
  display: flex;
  height: 60vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
