@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@700&display=swap");

.cart-container {
  height: 96vh;
  margin-top: 4rem;
  /* border: 1px solid red; */
}
.cart-main-heading {
  font-family: "Sora", sans-serif;
  font-size: 46px;
  font-weight: 700;
  padding-top: 3rem;
  text-align: center;
}
.cart-product-details {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  /* border: 1px solid red; */
}

.checkout {
  border: 1px solid #e3e3e3;
  width: 400px;
  height: 300px;
  padding: 40px 48px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.p-flex {
  display: flex;
  justify-content: space-between;
}

.checkout-subtotal-heading {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  color: #7a7a7a;
}
.checkout-subtotal-price {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  color: #7a7a7a;
}
.checkout-discount-heading {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  color: #7a7a7a;
}
.checkout-discount-price {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  color: #7a7a7a;
}
.checkout-total-heading {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 33.6px;
  color: #444444;
}
.checkout-total-price {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 33.6px;
  color: #444444;
}
.checkout-button {
  height: 56px;
  padding: 17px 40px;
  border-style: none;
  border-radius: 60px;
  background-color: #3b08fe;
  cursor: pointer;
  transition: transform 0.2s;
}
.checkout-button p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 22.4px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.checkout-button:hover {
  transform: scale(0.98);
  background-color: #555555;
}
