@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@700&display=swap");

.cart-container {
  height: 96vh;
  margin-top: 4rem;
  /* border: 1px solid red;  */
}
.cart-main-heading {
  font-family: "Sora", sans-serif;
  font-size: 46px;
  font-weight: 700;
  padding-top: 3rem;
  text-align: center;
}
.cart-product-details {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.checkout {
  border: 1px solid green;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.p-flex {
  display: flex;
  justify-content: space-around;
}
