@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@700&display=swap");
.hero-container {
  height: 100vh;
  margin: 2rem 0;
}
.hero-cta {
  position: absolute;
  top: 22.5rem;
  left: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-heading {
  color: white;
  font-family: "Sora", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
}
.hero-description {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25.6px;
}
.hero-image {
  width: 100%;
}
.hero-button {
  width: 160px;
  padding: 17px 40px;
  border-radius: 26px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #4444;
  color: white;
  border: 1px solid white;
}

.best-heading {
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}
.best-heading p {
  /* background: linear-gradient(310deg, #6f66e8 0%, #42cfe7 100%); */
  background: linear-gradient(310deg, #ed71a3 0%, #42cfe7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.best-main {
  margin-top: 6rem;
}
.best-container {
  margin: 40px 120px;
  height: 65vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.feature-one {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}
.feature-one img {
  width: 80%;
  padding: 56px;
  transition: transform 0.4s;
}
.feature-one img:hover {
  transform: scale(1.2);
}
.best_seller-text {
  position: absolute;
  top: 13rem;
  left: 56px;
  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 41.6px;

  /* background: linear-gradient(276deg, #ed71a3 0%, #42cfe7 100%); */
  background: linear-gradient(310deg, #6f66e8 0%, #42cfe7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.feature-left {
  width: 100%;
  height: 100%;
  /* border: 1px solid slateblue; */
}
.feature-right {
  /* border: 1px solid slateblue; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new_launch-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.new_launch-heading {
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}
.new_launch-heading p {
  /* background: linear-gradient(310deg, #6f66e8 0%, #42cfe7 100%); */
  background: linear-gradient(310deg, #ee7b7f 0%, #fbcb62 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new_launch-products {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
