@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@700&display=swap");
.productCard-container {
  font-family: "Roboto", sans-serif;
  /* border: 1px solid green; */
  background-color: #ffffff;
  padding: 12px;
  width: 300px;
  text-align: center;
  position: relative;
}
.productCard-wishlist {
  position: absolute;
  top: 18px;
  right: 17px;
  z-index: 1;
}
.productCard-wishlist:hover {
  cursor: pointer;
}
.productCard-image img {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.productCard-image img:hover {
  /* transform: scale(0.9); */
}

.productCard-heading {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 22.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.productCard-description {
  font-size: 12px;
  line-height: 16.8px;
  margin-bottom: 10px;
}
.productCard-price {
  color: #3b08ff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22.4px;
  margin-bottom: 10px;
}
.prev-price {
  color: #555555;
  font-weight: 400;
  text-decoration: line-through;
  letter-spacing: -0.01px;
}
.productCard-rating {
  font-size: 10px;
  margin-bottom: 10px;
}
.cart-button {
  width: 100%;
  padding: 9px 0px;
  border-style: none;
  background-color: #3b08ff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 2rem;
  transition: transform 0.2s;
}
.cart-button:hover {
  background-color: #555555;
  transform: scale(1.01);
}
