@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@700&display=swap");

.tab-container {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.profile-tab {
  cursor: pointer;
}
.address-tab {
  cursor: pointer;
}

.user-main-container {
  /* border: 1px solid red; */
  height: 85vh;
  width: 100vw;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.profile-section {
  border: 1px solid #e3e3e3;
  padding: 26px 75px;
  border-radius: 5px;
}
.profile-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.profile-details p {
  padding: 6px;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.profile-details button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 1rem;
  cursor: pointer;
  padding: 12px 25px;
  border-style: none;
  border-radius: 40px;
  color: #ffff;
  background-color: #444444;
  transition: transform 0.2s;
}
.profile-details button:hover {
  transform: scale(0.96);
}

.address-main-container {
  /* border: 1px solid red; */
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 6px;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.address-container {
  border: 1px solid #e3e3e3;
  width: 350px;
  padding: 1rem;
  border-radius: 5px;
}
.address-button {
  margin-top: 1.5rem;
  display: flex;
  gap: 6px;
}
.edit-button p {
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.delete-button {
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.add-user-name {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.add-address-button {
  text-align: center;
  margin-top: 5rem;
  height: 56px;
  width: 200px;
  border-style: none;
  border-radius: 60px;
  background-color: #3b08fe;
  cursor: pointer;
  transition: transform 0.2s;
}

.add-address-button p {
  padding: 17px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 22.4px;
  text-transform: uppercase;
  color: #ffffff;
}
.add-address-button:hover {
  transform: scale(0.98);
  background-color: #555555;
}
