.nav-main-container {
  position: fixed;
  top: 0;
  padding: 20px 50px;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
}
.logo {
  width: 50px;
}
.products-logo {
  width: 26px;
}
.cart-logo {
  width: 40px;
}
.wishlist-logo {
  width: 30px;
  padding: 2px;
}
.profile-logo {
  width: 20px;
}
.nav-container {
  /* margin-top: 1.2rem; */
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-contaiiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.route-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-container {
  width: 60%;
}
.search-container input {
  width: 100%;
  padding: 6px;
  border: 1px solid rgb(206, 206, 206);
  /* border-style: none; */
  border-radius: 20px;
}
.search-container button {
  align-self: flex-end;
}
.display-search {
  border: 1px solid purple;
  position: absolute;
  top: 2rem;
  left: 40rem;
}
