.nav-main-container {
  position: fixed;
  top: 0;
  padding: 20px 50px;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
}

.nav-container {
  /* margin-top: 1.2rem; */
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-contaiiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.route-link {
  display: flex;
  gap: 6px;
}
.search-container {
  border: 1px solid red;
}
.display-search {
  border: 1px solid purple;
  position: absolute;
  top: 2rem;
  left: 40rem;
}
