.hero-container {
  /* height: 100vh; */
  margin: 5rem 0;
}
.hero-cta {
  position: absolute;
  top: 22.5rem;
  left: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-heading {
  color: white;
  font-family: "Sora", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
}

.hero-description {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25.6px;
}
.hero-image {
  width: 100%;
}
.hero-button {
  width: 160px;
  padding: 17px 40px;
  border-radius: 26px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #4444;
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 1124px) {
  .hero-cta {
    top: 15.5rem;
    left: 8rem;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 794px) {
  .hero-cta {
    top: 10.5rem;
    left: 8rem;
    gap: 1.5rem;
  }
  .hero-heading {
    font-size: 40px;
  }
  .hero-description {
    font-size: 12px;
    line-height: 20.6px;
  }
}
